:root{
    --stripe-color:#F7E8E3;
    --bg-color:#F8F7F3;
}

.tkw_price::after{
    content:"€";
}

.widget-title{
    text-align:center;
    background: repeating-linear-gradient( 135deg, #33E8E3, #33E8E3 2px, #FfE7E3 2px, #FfE7E3 4px);
    border-style: dashed none dashed;
    border-color: #F838E3;
    border-width: 1px;
}

.tkw_price{
    width:100%;
    text-align:right;
    margin-left:3em;
}

.tkw_product{
    text-align:left;
}

