
.tkw_admin_bank{
    max-width:50%;
    min-width:10% !important; /* ensure they are always side by side */
    float:left;
}

.tkw_admin_bank input{
    display:block;
    height:1.8em;
    width:99%;
}

.tkw_admin_bank input[type="number"]{
    width:4em;
}

.tkw_admin_clearfix{
    clear:both;
}

.tkw_admin_bank .tkw_hidden {
    display: none;
}
